{% extends web_base_template_path %}

{% block content %}

                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <h2 class="ui-title-block"> {{data.page_name}}</h2>
                                <div class="ui-decor"></div>
                                <div class="related-carousel owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="2" data-min992="3" data-min1200="3" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
                                   

                                </div>
                                {{data.text_editor_6}}
                            </div>
                        </div>
                    </div>
                </section>
 {% endblock %}