{% extends web_base_template_path %} {% block head %} {% block meta_block %}
<meta itemprop="description" name="description" content="{% if MetaDescription %}{{MetaDescription}}{% endif %}" />
<meta itemprop="keywords" name="keywords" content="{% if MetaKeywords %}{{MetaKeywords}}{% endif %}" />
<meta property="og:url" content="{{CurrentUrl}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{title}}{% endif %}">
<meta property="og:description" content="{% if MetaDescription %}{{MetaDescription}}{% endif %}" /> {% endblock %} {% endblock %} {% block content %} {% block script %}
<script>
{% include "templates/includes/dcsd/homepage.js" %}
</script>
{% endblock %}

<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">

    <div class="main-slider main-slider-2">
        <div class="slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="7s00px" data-slider-arrows="true" data-slider-buttons="false">
            <div class="sp-slides">
                <div class="sp-slide">
                    <img class="sp-image" src="assets/frappe/assets/media/components/b-main-slider/2.jpg" alt="slider" />
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        <h2 class="ui-title-block text-white">Find Your Desired Product </h2>
                                        <div class="uiv1 ui-decor2" style="background-color: #fff !important;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-car-details__tabs tab-content">
                            <div class="tab-pane active fade in" id="specifications" style="background-color: transparent;">
                                <form class="b-filter">
                                    <div class="">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                </div>
                                                <div class="col-md-2 col-sm-6" style="display: none">
                                                    <select class="form-control" data-width="100%" id="select_category" style="padding: 14px 15px 11px;">
                                                        <option value="0">Select Category</option>
                                                        {% for b in category %}
                                                        <option value="{{b.name}}">{{b.category_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="b-filter-2__group">
                                                        <input class="form-control" type="text" placeholder="Type to select product name" style="margin-bottom: 2px;padding: 14px 15px 11px;" id="search_item">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                </div>
                                                <!-- <div class="col-md-1 col-sm-1">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-advantages-2 section-dark area-bg area-bg_dark parallax">
        
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <h2 class="ui-title-block" style="margin-top: 0px;color: black">What We Offers</h2>
                            <div class="ui-decor2" style="color: black"></div>
                        </div>
                    </div>
                </div>


                


                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <a href="csd-cars">
                            <section class="b-advantages-2 sec-1">
                                <img src="assets/frappe/assets/media/1-w.png" class="pad-20">
                                <h3 class="b-advantages-2__title"><strong>Cars</strong></h3>
                            </section>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="csd-bikes">
                            <section class="b-advantages-2 sec-1">
                                <img src="assets/frappe/assets/media/2-w.png" class="pad-20">
                                <h3 class="b-advantages-2__title"><strong>Bikes</strong></h3>
                            </section>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="csd-washing-machine">
                            <section class="b-advantages-2 sec-1">
                                <img src="assets/frappe/assets/media/4-w.png" class="pad-20">
                                <h3 class="b-advantages-2__title"><strong>Washing Machine</strong></h3>
                            </section>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="csd-refrigerator">
                            <section class="b-advantages-2 sec-1">
                                <img src="assets/frappe/assets/media/3-w.png" class="pad-20">
                                <h3 class="b-advantages-2__title"><strong>Refrigerator</strong></h3>
                            </section>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-default" style="   padding-bottom: 90px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">Recent Products</h2>
                        <div class="ui-decor"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="featured-carousel owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="2" data-min992="3" data-min1200="5" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
                {% for x in RecentProducts %}
                <div class="b-goods-feat">
                    <div class="b-goods-feat__img home-image" style="    min-height: 164px; position: relative; padding-bottom: 100%; ">
                        <a href="/csd-{{x.category_route}}/{{x.brand_route}}/{{x.route}}">
                            <img class="img-responsive" src="{% if x.featured_image %}{{x.featured_image}}{% else %}/files/no-img.png{% endif %}" alt="foto" style="width: auto; max-width: 90%; height: auto; max-height: 90%; position: absolute; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); top: 50%; left: 50%;" />


                        </a>
                    </div>
                    <h3 class="b-goods-feat__name imte" style="  margin-top: 0px;   margin-bottom: 0px;">
                        <a href="/csd-{{x.category_route}}/{{x.brand_route}}/{{x.route}}">{{x.brand_name}} {{x.item_name}}</a></h3>
                    <span class="b-goods-1__price_th text-primary visible-th" style="     position: relative;
                        display: block; padding-right: 70px; font-family: Poppins; font-weight: 600;">
                        <span style="font-family: 'Hind';">₹ </span> {% if x.base_market_price.market_price |float >0 %} {% if x.base_market_price.market_price |float >= 100000 %} {{x.base_market_price.market_price |float / 100000}} Lakhs {% endif %} {% if x.base_market_price.market_price |float >= 10000 and x.base_market_price.market_price |float
                    < 100000 %} {{x.base_market_price.market_price |float / 10000}} K {% endif %} {% else %} Na {% endif %} </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="" style="padding-bottom: 90px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block" style="margin-top: 0px;color: black">Brands</h2>
                        <div class="ui-decor2" style="color: black"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="b-car-details__nav nav nav-tabs bg-primary" style="padding: 0 0px;margin-top: 40px;">
                        {% for i in category if i.brands%}
                        <li class="{% if loop.index==1 %} active {% else %} {% endif %}"><a href="#{{i.route}}" data-toggle="tab">
                            {{i.category_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="b-car-details__tabs tab-content">
                        {% for i in category if i.brands | length > 0 %}
                        <div class="{% if loop.index==1 %}tab-pane active fade in{% else %}tab-pane fade{% endif %}" id="{{i.route}}">
                            <ul class="b-list-brands list-unstyled">
                                {% for b in i.brands%}
                                <li class="b-list-brands__item"><a class="b-list-brands__link" href="csd-{{i.route}}/{{b.brand_route}}">
                                        {{b.brand_name}}<span class="badge">({{b.count}})</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .b-about-->
    <section class="section-news section-news_mod-a" style="padding-top:0px;padding-bottom: 110px;    background: #f5f5f5;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block" style="margin-top: 50px;">Latest News</h2>
                        <!--  <div class="ui-subtitle-block">Tempor incididunt labore dolore magna clium fugiat alique</div> -->
                        <div class="ui-decor"></div>
                    </div>
                    <div class="carousel-news owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" id="latest_news" data-min768="2" data-min992="3" data-min1200="3" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
                        {% for News in LatestNews %}
                        <section class="b-post b-post-1 clearfix">
                            <div class="entry-media">
                                <a href="news/{{News.route}}"><img class="img-responsive fixedcustcss" src="{% if News.image %}{{News.image}}{% else %}/files/no-img.png{% endif %}" alt="Foto" style="max-height: 240px;" /></a>
                            </div>
                            <div class="entry-main">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <div class="entry-meta__face">
                                        </div><a class="entry-meta__categorie" href="news/{{News.route}}"><strong>{{News.category}}</strong></a>
                                    </div>
                                    <h2 class="entry-title"><a href="news/{{News.route}}">{{News.title}} </a></h2>
                                </div>
                               <!--  <div class="entry-content">
                                    <p>{{News.description}} </p>
                                </div> -->
                            </div>
                        </section>
                        {% endfor %}
                    </div>
                    <!-- end .carousel-news-->
                </div>
            </div>
        </div>
    </section>
</div>
{% block style %}
<style type="text/css">
.home-image {
    min-height: 150px;
    max-height: 150px;
}

.imte.b-goods-feat__name:before {
    display: none
}

.b-filter {
    margin-top: 0px;
}

.b-car-details__nav {
    margin-top: 120px;
    padding: 0 200px;
}

.b-car-details__nav>li.active {
    background-color: #f4f4f4;
    box-shadow: 0 -3px 0 0 rgb(199, 22, 34);
}

.ui-decor2 {
    background: #fff;
}

.pad-20 {
    padding: 20px 0px;
}

.sec-1 {
    background-color: rgb(199, 22, 34);
    color: #fff;
}

.sec-1 h3 {
    color: #fff;
}

@media (max-width:767px) {
    .b-car-details__nav {
        margin-top: 120px;
        padding: 0 35px;
    }
}

@media (min-width:992px) {
    .sp-mask {
        height: 400px !important;
    }
}
@media (max-height: 991px) {
    .sp-mask {
        height: 400px !important;
    }
    .b-car-details__nav{
        columns: 2;
        font-size: 0px;
    }
}
@media (min-width: 1200px) {
    .container1 {
        width: 1275px;
    }
}

.container1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.area-bg_dark:after {
    background-color: white;
}

.ui-decor2:before,
.ui-decor2:after {
    position: absolute;
    bottom: -5px;
    width: 30px;
    height: 1px;
    content: '';
    background: #d01818;
}

.uiv1.ui-decor2:before,
.uiv1.ui-decor2:after {
    position: absolute;
    bottom: -5px;
    width: 30px;
    height: 1px;
    content: '';
    background: white !important;
}

.ui-decor2 {
    background: #d01818 !important;
}

.global-search-section {
    /*position: absolute;*/
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    background: #FFF;
}

.search-title {
    padding: 10px 15px 6px;
    font-size: 11px;
    color: #babfc3;
}

.search-list-section li {
    padding: 5px 15px;
}

.search-list-section li,
.text-capitalize {
    text-transform: capitalize;
}

.trending-icon {
    background-position: -211px -22px;
    width: 27px;
    height: 12px;
}

.padding-right10 {
    padding-right: 10px;
}

.search-list-section li a {
    width: calc(100% - 35px);
    display: inline-block;
    color: #565a5c;
}

.fixedcustcss{
    max-height: 250px;
    min-height: 250px;
}

#latest_news .owl-nav{
        bottom: -27px;
}  
</style>
{% endblock %} {% endblock %}